@font-face {
  font-family: MaaxRegular;
  src: url("Sans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: MaaxMedium;
  src: url("Sans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: MaaxBold;
  src: url("Sans-Bold.ttf") format("truetype");
}

b {
  font-family: MaaxMedium, sans-serif;
}

.h1 {
  font-family: MaaxRegular, sans-serif;
  font-size: 60px;
  color: white;
  letter-spacing: normal;
  line-height: 68px;
}

.h2 {
  font-family: MaaxRegular, sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: normal;
  line-height: 20px;
}

.nav-font {
  font-family: MaaxRegular, sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: normal;
}
