@font-face {
    font-family: GT-super;
    src: url("GT-Super-Display-Trial-Super.otf") format("opentype");
}

@font-face {
    font-family: GT-medium;
    src: url("GT-Super-Display-Trial-Medium.otf") format("opentype");
}

body {
  background-color: black;
}

h1 {
  margin-top: 5%;
  font-family: 'GT-super', serif;
  font-size: 170px;
  text-align: center;
  color: white;
}

h2 {
  margin-top: -5%;
  font-family: 'GT-medium', serif;
  font-size: 53px;
  font-weight: lighter;
  letter-spacing: 1.3px;
  text-align: center;
  color: white;
  padding-left: 18%;
  padding-right: 18%;
}
