* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin:0;
  padding:0;
  background: #141414;
  background-image: url("img-noise.png");
  background-repeat: repeat;
}

/*  ---  fonts  ---  */

.main_text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:70px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.main_subtext {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  color: #ffffff;
}

.main_prompt {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 3px;
  color: #ffffff;
  text-decoration: none;
}

.main_prompt:hover {
  color: #ffda33;
  text-decoration: none;
}

.header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #000000;
}

.subheader {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3px;
  color: #000000;
}

.footer_header {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  color: #ffffff;
  float: left;
}

.footer_links {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  color: #ffffff;
  float: right;
  padding-left: 6%;
  text-decoration: none;
}

.footer_links:hover {
  color: #ffda33;
}

.about_header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
}

.about_text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  color: #ffffff;
  padding-top: 5%;
}

.links {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  color: #ffffff;
  text-decoration: none;
}

.links:hover {
  color: #ffda33;
}

.portfolio_header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #000000;
}

.portfolio_subheader {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  color: #000000;
}

.text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #000000;
}

/*  ---  main page  ---  */


.content {
  padding-top: 65px;
  width: 100%;
}

.main_text_block {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5%;
  width: 100%;
  margin-bottom: 25%;
}

.imcathleen {
  position: relative;
  display: inline-block;
}

.imcathleen:after{
  content: "";
  position: absolute;
  top: .95em;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateZ(0);
  height: .25em;
  background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);
  -webkit-transition: all .25s;
  transition: all .25s;
  z-index: -1;
}

.imcathleen:hover:after {
  height: .35em;
  top: .85em;
}

.main_subtext_block {
  padding-top: 3%;
  width: 80%;
}

.main_prompt_block {
  margin-top: 3%;
}

.main_prompt_border {
  width: 20%;
  height: 5px;
  background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);
}

/*  ---  portfolio  ---  */

#portfolio {
  background: #ffffff;
  height: 1225px;
}

.portfolio_text_block {
  padding-left: 75px;
  padding-top: 50px;
}

.subheader_block {
  width: 45%;
  padding-top: 10px;
}

.text_block {
  padding-top: 1%;
}

.project_text_block {
  padding-left: 22%;
  padding-right: 22%;
  padding-top: 50px;
}

/*  ---  footer  ---  */

.footer {
  width: 100%;
  /*background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);*/
}

.footer_block {
  float: left;
  position: relative;
  width: 50%;
  padding-right: 1%;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 3%;
}

/*  ---  about  ---  */

.me_img {
  width: 100%;
}

.me_img_border {
  position: relative;
  z-index: 0;
  width: 100%;
  background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);
  margin-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%
}

.about_block{
  position: 50%;
  position: relative;
  padding-left: 5%;
}

.about_block {
  float: left;
}

.about_block_width1 {
  width: 40%;
  padding-left: 5%;
}

.about_block_width2 {
  width: 60%;
  padding-left: 8%;
  padding-right: 10%;
}

/*  ---  grid  ---  */

.grid {
  max-width: 100%;
}

.overview_grid {
  padding-top: 2%;
  padding-right: 75px;
  padding-left: 75px;
}

.grid_img {
  display: block;
  position: relative;
  width: 100%;
  float:left;
  z-index: 5;
  transition: 1s;
  /*padding: 5px;*/
}

.grid_img: hover {
  opacity: 0;
}

.grid_item {
  position: relative;
  width: 47%;
  float: left;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 1.5%;
  margin-right:1.5%;
  background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);
}

.grid_hover{
  position: absolute;
  z-index: 5;
  width:100%;
  height: 100%;
 /* padding-right: 8%;
  padding-bottom: 8%;*/
  -webkit-transition: all 5s;
  transition-duration: all 5s;
}

/*.grid_hover:hover {
  position: absolute;
  z-index: 5;
  width:100%;
  height: 100%;
  background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);
}*/

.img_caption {
  position: absolute;
  /*z-index: 5;*/
  width:100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  opacity: 1;
}

/*.img_caption:hover {
  position: absolute;
  z-index: 5;
  width:100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  opacity: 1;
}*/

.img_caption {
  padding-top: 33%;
}

/*  ---  decorations  ---  */

.rainbow_underline {
  margin-top: -18px;
  width: 27%;
  background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);
}

.rainbow_line {
  width: 100%;
  height: 15px;
  background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);
}

/*  ---  sliding divs  ---  */

.slidingDivHome {
  height:300px;
  background-color: #99CCFF;
  padding:20px;
  margin-top:10px;
  border-bottom:5px solid #3399FF;
}

.slidingDivAbout {
  height:300px;
  background-color: #99CCFF;
  padding:20px;
  margin-top:10px;
  border-bottom:5px solid #3399FF;
}

.show_hide_home {
  display:none;
    text-align: center;
}

.show_hide_about {
  display:none;
    text-align: center;
}

/*  ----  about page  ----  */

.content-about {
  max-width: 100%;
  padding-top: 100px;
}

.intro-heading {
  /*background: #8c8c8c;*/
  padding-top: 40px;
  padding-left: 10%;
}

.intro {
  display: inline-block;
  /*background: #bfbfbf;*/
}

.intro-bold {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #262626;
}

.intro-normal {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding-left: 4px;
  color: #262626;
}

.intro-blurb {
  font-family: 'Karla', sans-serif;
  font-weight: 400i;
  font-size: 16px;
  padding-left: 4px;
  color: #262626;
}

/*  ----   about  ----  */

.grid-about {
  max-width: 100%;
}

/* clearfix */
.grid-about:after {
  content: '';
  display: block;
  clear: both;
}

.grid-about-item {
  float: left;
}

.grid-about-item--width1 {
  width: 65%;
  padding-left: 5%;
}

.grid-about-item--width2 {
  width: 35%;
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 30px;
}

@media only screen and (max-width: 1050px) {
  .grid-about-item{
/*    padding-bottom: 61.538%*/
  }
  .grid-about-item--width1 {
    width: 100%;
    padding-right: 10%
  }
  .grid-about-item--width2 {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
  }
}

.about-innercontent1 {
  padding-top: 35px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #262626;
  line-height: 20px;
}

.about-innercontent2 {
  padding-top: 5px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #262626;
}

.about-sidebar-bold {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #262626;
}

.contact {
  display: block;
  text-decoration: none;
}

a:hover{
  color: #8c8c8c;
}

.link {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #262626;
  text-decoration: underline;
}

.me-img {
  width: 100%;
  height: auto;
}

.matt-blease-img {
  width: 49%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media only screen and (max-device-width : 1000px){  /*mobile view*/
  .content-about{
    padding-top: 200px;
  }
  .intro-bold {
  font-size: 50px;
  }
  .intro-normal {
    font-size: 50px;
  }
  .about-sidebar-bold {
    font-size: 50px;
  }
  .about-innercontent2 {
    padding-top: 10px;
  }
}

/*  ----  project page  ----  */

.grid-project {
  max-width: 100%;
  padding-top: 100px;
  background: #EEE;
}

/* clearfix */
.grid-project:after {
  content: '';
  display: block;
  clear: both;
}

.grid-project-item {
  float: left;
}

.grid-project-item--width1 {
  width: 23%;
  padding-left: 3%;
  padding-top: 35px;
  position: fixed;
}

.grid-project-item--width2 {
  width: 93%;
  padding-left: 23%;
  padding-right: 3%;
  padding-top: 35px;
}

.grid-project-item--width3 {
  width: 100%;
  padding-left: 93%;
  padding-right: 3%;
  padding-top: 35px;
  position: fixed;
}

.project-title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #262626;
  padding-right: 40%;
}

.project-description {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #262626;
  padding-top: 10px;
  padding-right: 15%;
  line-height: 20px;
}

.project-img {
  width: 100%;
  padding-bottom: 20px;
}

.project-img-sq1 {
  width: 49.5%;
  padding-bottom: 20px;
  display: inline-block;
  padding-right: 10px;
}

.project-img-sq2 {
  width: 49.5%;
  padding-bottom: 20px;
  display: inline-block;
  padding-left: 10px;
}

.arrows {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 23px;
  color: #262626;
  text-decoration: none;
}

/*  ----  portfolio page  ----  */

.grid-portfolio-item {
  width: 100%;
  padding-top: 140px;
}

/*.grid-portfolio-sq1 {
  width: 100%;
  display: inline-block;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.grid-portfolio-sq2{
  width: 100%;
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
  padding-bottom: 20px;
}*/

.grid-portfolio-sq1 {
  position: relative;
  width: 47%;
  float: left;
  margin-top: 2%;
  margin-left: 1.5%;
  margin-right:1.5%;
}
.grid-portfolio-sq2 {
  position: relative;
  width: 47%;
  float: left;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 1%;
}

.grid-portfolio-sq1-last {
  position: relative;
  width: 47%;
  float: left;
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.grid-portfolio-sq2-last {
  position: relative;
  width: 47%;
  float: left;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
}

/*.grid-portfolio-hover:{
  position: absolute;
  z-index: 5;
  width: 100%;
  display: inline-block;
}

.grid-portfolio-hover:hover {
  position: absolute;
  z-index: 5;
  width: 100%;
  display: inline-block;
  background: rgba(13, 13, 13, .3);
}*/

.img-caption-portfolio {
  padding-top: 32%;
}

@media only screen and (max-width: 1050px) {
  .grid-project-item--width1 {
    position: relative;
    width: 100%;
    padding-right: 0%
  }
  .grid-project-item--width2 {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 0%;
  }
  .grid-project-item--width3 {
  width: 100%;
  padding-left: 47%;
  position: relative;
  padding-top: 0px;
  }
  .project-title {
    text-align: center;
    padding: 0;
  }
  .project-description {
    text-align: center;
    padding-left: 20%;
    padding-right: 22%;
  }
  .project-img {
    padding-bottom: 20px;
  }
  .arrows {
    text-align: center;
    display: inline-block;
    padding-bottom: 20px;
    font-size: 50px;
  }

  .grid-portfolio-sq1 {
    width: 100%;
    padding-bottom: 20px;
    display: inline-block;
    padding-right: 10px;
  }

  .grid-portfolio-sq2{
    width: 100%;
    padding-bottom: 20px;
    display: inline-block;
    padding-right: 10px;
  }
}

@media only screen and (max-width : 650px){
  /* Tablet view: 1 tile */
  .project-img-sq1 {
    width: 100%;
    padding-bottom: 20px;
    display: block;
    padding-right: 0;
  }

  .project-img-sq2 {
    width: 100%;
    padding-bottom: 20px;
    display: block;
    padding-right: 0;
  }
}

@media only screen and (max-device-width : 1000px){  /*mobile view*/
  .grid-project {
    padding-top: 200px;
  }
  .project-title {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .project-description {
    padding-left: 5%;
    padding-right: 7%;
  }

  .project-img-sq1 {
    width: 100%;
    padding-bottom: 20px;
    display: block;
    padding-right: 0;
  }

  .project-img-sq2 {
    width: 100%;
    padding-bottom: 20px;
    display: block;
    padding-right: 0;
  }
}
/*  ----  overview gallery grid  ----  */

/* ---- grid ---- */


.grid.sizer {
  width: 33.3333333%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

@media only screen and (max-device-width: 1000px) {
  .overview-grid {
    padding-top: 200px;
  }
}

/* ---- grid-item ---- */

.grid-item {
  position: relative;
  width: 50%;
  float: left;
}

.grid-img {
  display: block;
  position: relative;
  width: 100%;
  float:left;
  /*padding: 5px;*/
}

.grid-hover{
  position: absolute;
  z-index: 5;
  width:95%;
  height: 100%;
}

.grid-hover:hover {
  position: absolute;
  z-index: 5;
  width:90%;
  height: 100%;
  background: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);
}

.img-caption {
  position: absolute;
  z-index: 5;
  width:100%;
  height: 100%;
  opacity: 0;
}

.img-caption:hover {
  position: absolute;
  z-index: 5;
  width:100%;
  height: 100%;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  opacity: 1;
}

.img-caption-rect {
  padding-top: 55%;
}

.img-caption-rect-xl {
  padding-top: 60%;
}

.img-caption-rect-xxl {
  padding-top: 70%;
}

.img-caption-sq {
  padding-top: 45%;
}

.img-caption-sq-xl {
  padding-top: 50%;
}

.mobile-cap {
  display: none;
}

/* ---- media queries ---- */

@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  .grid-item {
    width: 100%;
  }
  .grid-portfolio-sq1 {
    width: 100%;
    padding: 0;
  }
  .grid-portfolio-sq2 {
    width: 100%;
    padding: 0;
  }
  .grid-portfolio-sq1-last {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Tablet view: 1 tile */
  .grid-item {
    width: 100%;
  }
  .grid-portfolio-sq1 {
    width:100%;
    padding: 0;
    margin: 0;
  }
  .grid-portfolio-sq2 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .grid-portfolio-sq1-last {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  /* Small desktop / ipad view: 2 tiles */
  .grid-item {
    width: 50%;
  }
  .grid-portfolio-sq1 {
    width:47%;
    padding: 0;

  }
  .grid-portfolio-sq2 {
    width: 47%;
    padding: 0;
  }
  .grid-portfolio-sq1-last {
    width: 47%;
    padding: 0;
  }
  .grid-img {
    width: 100%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 3 tiles */
  .grid-item {
    width: 33.3333333333333333333%;
  }
  .grid-portfolio-sq1 {
    width:47%;
    padding: 0;
  }
  .grid-portfolio-sq2 {
    width: 47%;
    padding: 0;
  }
  .grid-portfolio-sq1-last {
    width: 47%;
    padding: 0;
  }
  .grid-img {
    width: 100%;
  }
}
@media only screen and (max-device-width : 1000px) {
  /* Tablet view: 1 tile */
  .grid-item {
    width: 100%;
  }
  .grid-hover {
    opacity: 0;
  }

  .mobile-cap{
    display: block;
    position: absolute;
    z-index: 5;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    background: rgba(13, 13, 13, .3);
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 47px;
    color: #ffffff;
  }

  .grid-portfolio-sq1 {
    width: 100%;
  }

  .grid-portfolio-sq2 {
    width: 100%;
  }

  .grid-portfolio-sq1-last {
    width: 100%;
  }
}
