#background-animation {
  margin-top: 2%;
}

#floating {
  position: absolute;
  z-index: -1;
  opacity: 0.80;
}

.up_and_down {
    animation-name: up_and_down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes up_and_down {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

.diagonal_top_left {
    animation-name: diagonal_top_left;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes diagonal_top_left {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(15px, 15px); }
    to   { transform: translate(0, -0px); }
}

.diagonal_bottom_right {
    animation-name: diagonal_bottom_right;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes diagonal_bottom_right {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(15px, -15px); }
    to   { transform: translate(0, -0px); }
}

#oval_1 {
  padding-top: 0vh;
  padding-left: 0vw;
  width: 22%;
}

#oval_2 {
  padding-top: 40vh;
  padding-left: 11vw;
  width: 18%;
}

#oval_3 {
  padding-top: 50vh;
  padding-left: 35vw;
  width: 10%;
}

#oval_4 {
  padding-top: 30vh;
  padding-left: 48vw;
  width: 22%;
}

#oval_5 {
  padding-top: 25vh;
  padding-left: 64vw;
  width: 29%;
}

#polygon_1 {
  padding-top: 63vh;
  padding-left: 1vw;
  width: 17%;
}

#polygon_2 {
  padding-top: 3vh;
  padding-left: 34vw;
  width: 9%;
}

#polygon_3 {
  padding-top: 1vh;
  padding-left: 50vw;
  width: 15%;
}

#polygon_4 {
  padding-top: 3vh;
  padding-left: 77vw;
  width: 12%;
}
