@font-face {
  font-family: AtlasGrotesqueLight;
  src: url("AtlasGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: AtlasGrotesqueMedium;
  src: url("AtlasGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: AtlasGrotesqueRegular;
  src: url("AtlasGrotesk-Regular.ttf") format("truetype");
}
