
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .home-tab {
    font-size: 12px;
  }

  .nav-tab {
    font-size: 12px;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 14px;
  }

  button {
    font-size: 13px;
    width: 100%;
  }

  .landing-page-text {
    width: 76%;
  }

  .landing-page-img {
    margin-top: -50px;
    width: 76%;
  }

  .landing-page-underscore {
    margin-top: 36px;
  }
  /* body {
    background-color: yellow;
  } */
}


@media only screen and (min-width: 700px) {

  .nav-tab {
    font-size: 13px;
  }

  .home-tab {
    font-size: 13px;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 14px;
  }

  button {
    font-size: 13px;
  }

  .landing-page-img {
    margin-top: 5%;
  }

  .landing-page-underscore {
    font-size: 10px;
  }
/*
  body {
    background-color: green;
  } */
}


@media only screen and (min-width: 925px) {

  .nav-tab {
    font-size: 13px;
  }

  .home-tab {
    font-size: 13px;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 14px;
  }

  button {
    font-size: 13px;
  }

  .landing-page-img {
    margin-top: 3%;
  }

  .landing-page-underscore {
    font-size: 10px;
  }
/*
  body {
    background-color: red;
  } */
}


@media only screen and (min-width: 1150px) {

  .nav-tab {
    font-size: 13px;
  }

  .home-tab {
    font-size: 13px;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 14px;
  }

  button {
    font-size: 13px;
  }

  .landing-page-img {
    margin-top: 2%;
  }

  .landing-page-underscore {
    font-size: 10px;
  }
  /* body {
    background-color: blue;
  } */
}
