/*---------- MOBILE VIEW: smartphones, Android phones, landscape iPhone ----------*/
@media only screen and (max-device-width : 1050px) {

  .nav-bar {
    padding-right: 7%;
    width: 86%;
    padding-top: 30px;
  }

  .nav-tab {
    font-size: 13px;
  }

  .home-tab {
    padding-top: 2px;
    font-size: 13px;
  }

  #hamburger {
    display: inline-block;
  }

  h1 {
    padding-top: 10px;
    letter-spacing: 0.3px;
  }

  h3 {
    font-size: 14px;
    letter-spacing: 0.3px;
  }

  h2 {
    letter-spacing: 0.3px;
  }

  .landing-page-text > button {
    width: 100%;
    font-size: 13px;
    letter-spacing: 0.3px;
  }

  .landing-page-text {
    width: 76%;
  }

  .landing-page-img {
    margin-top: 10px;
    width: 76%;
    background-image: url("../assets/landing-page-illustration-mobile.png");
    width: 76%;
  }

  .landing-page-underscore {
    margin-top: 36px;
  }

  .nav-tab {
    display: none;
  }

  .img-strip {
    width: 100%;
    padding:0;
  }

  #thehouse-img {
    height: 14vw;
    margin-right: 3.5vw;
    margin-left: 2vw;
  }
  #bearfounders-img {
    height: 8vw;
    margin-right: 3.5vw;
  }
  #citrisfoundry-img {
    height: 14.6vw;
    margin-right: 3.5vw;
    margin-top: 20px;
  }
  #freev-img {
    height: 17.5vw;
    margin-right: 3.5vw;
    margin-top: 20px;
  }
  #berkeleyeng-img {
    height: 16vw;
    margin-right: 3.5vw;
    margin-left: 12vw;
  }
  #sfexaminer-img {
    height: 12vw;
    margin-right: 3.5vw;
    margin-left: 10vw;
  }
  #dailycal-img {
    height: 8vw;
    margin-right: 3.5vw;
    margin-left: 8vw;
  }

  .lecture-number {
    display: none;
  }

  .lecture-date {
    font-size: 12px;
    margin-left: -2px;
    margin-top: -25px;
    letter-spacing: 0.3px;
  }

  .lecture-date.selected {
    background-color: #4A90E2;
    color: white;
  }

  .lecture-header {
    font-size: 13px;
    letter-spacing: 0.3px;
  }

  .lecture-subheader {
    font-size: 12px;
    letter-spacing: 0.3px;
  }

  #proton-img {
    display: none;
  }

  /* body {
    background-color: yellow;
  } */
}



/*---------- V SMALL DESKTOP / SMALL SIZE: < 0.3333 width of screen ----------*/
@media only screen and (max-width : 480px) {

  .nav-tab {
    font-size: 13px;
  }

  .home-tab {
    font-size: 13px;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 14px;
  }

  .landing-page-text > button {
    font-size: 13px;
    width: 100%;
  }

  .landing-page-text {
    width: 76%;
  }

  .landing-page-img {
    background-image: url("../assets/landing-page-illustration-mobile.png");
    background-size: 120%;
    margin-right: 0px;
    width: 90%;
  }

  .landing-page-underscore {
    margin-top: 36px;
    font-size: 10px;
  }

  /* body {
    background-color: green;
  } */
}


/*---------- TABLET / MEDIUM SIZE: 0.33333 to 0.4 width of laptop screen ----------*/
@media only screen and (max-width : 650px) and (min-width : 481px) {
  .nav-tab {
    font-size: 13px;
  }

  .home-tab {
    font-size: 13px;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 14px;
  }

  .landing-page-text > button {
    font-size: 13px;
  }

  .landing-page-img {
    background-image: url("../assets/landing-page-illustration-mobile.png");
    background-size: 120%;
    margin-right: -40px;
    margin-top: 35%;
  }

  .landing-page-underscore {
    font-size: 10px;
  }

  /* body {
    background-color: red;
  } */
}

/*---------- SMALL DESKTOP / BIG SIZE: 0.4 to 0.75 width of laptop screen ----------*/
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  .nav-tab {
    font-size: 13px;
  }

  .home-tab {
    font-size: 13px;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 14px;
  }

  .landing-page-text > button {
    font-size: 13px;
  }

  .landing-page-img {
    margin-top: 15%;
  }

  .landing-page-underscore {
    font-size: 10px;
  }
  /* body {
    background-color: blue;
  } */
}
